/* section Result start __________________________________*/
.result__box {
  max-width: 800px;
  width: 100%;
  border: 2px solid #f0651e;
  background-color: #3a3a3a;
  border-radius: 10px;
  padding: 30px 20px 40px;
  margin: 0 auto 30px;
}

.result__title {
  text-align: center;
  font-size: 30rem;
  line-height: 34rem;
  margin-bottom: 30px;
}

.result__text {
  font-size: 18rem;
  line-height: 22rem;
  margin-bottom: 45px;
  text-align: center;
}

.result__btn {
  margin: 0 auto;
}
/* section Result end __________________________________*/
